services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8080:8080"
    # volumes:
    #   - ./:/app
    env_file:
      - .env
    # For Linux users, uncomment the following line to use host networking
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - shared-network
    restart: unless-stopped
volumes:
  media:
networks:
  shared-network:
    driver: bridge